/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  background-image: url(../assets/trump.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: none;
}

.site-wrapper-inner {
  background: rgba(0,0,0,0.4);
}

.cover-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  justify-content: flex-end;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  font-size: 16px;
  flex: 1 1 100%;
  text-align: left;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}

@media screen and (min-width: 640px) {
  .masthead-brand {
    font-size: 20px;
  }
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 2.75vw;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}


/*
 * Cover
 */

 .lead {
   font-family: 'Work Sans', sans-serif;
   font-weight: 400;
 }

 .text-box-wrapper {
   display: flex;
   flex-direction: row;
   align-content: flex-start;
 }

 @media screen and (max-width: 640px) {
   .text-box-wrapper {
     flex-direction: column;
   }
 }

.cover.inner {
  padding: 0 1.375vw 2.75vw 2.75vw;
  box-sizing: border-box;
  flex: 0 0 50%;
}

.cover-heading {
  font-size: 36px;
  font-family: 'Work Sans', serif;
  padding: 0 3.5vw 4vw;
  text-align: left;
  margin: 3.5vw 0 0;
  font-weight: 900;
}

.share-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.share-btn {
  flex: 0 0 auto;
  margin: 0 20px 0 0;
  font-size: 0;
}

@media (min-width: 640px) {
  .cover-heading {
    font-size: 48px;
    flex-grow: 0;
    margin-top: auto;
    padding: 0 2.75vw 4vw;
  }
}

.masthead .inner {
  padding: 2.75vw;
}

.mastfoot {
  box-sizing: border-box;
  flex: 0 0 50%;
  color: rgba(255,255,255,1);
  padding: 0 2.75vw 2.75vw 1.375vw;
}

@media screen and (max-width: 640px) {
  .mastfoot,
  .cover.inner {
    flex: 1 0 100%;
    padding: 0 3.5vw 3.5vw;
  }

  .cover.inner {
    padding-bottom: 4vw;
  }
}

.mastfoot .btn-primary {
  background-color: rgb(0, 169, 59);
  border-color: rgb(1, 136, 47);
  transition: background-color 200ms 0ms ease;
  font-family: 'Hebo', sans-serif;
  font-weight: 400;
  letter-spacing: .05em;
}

.mastfoot .btn-primary:hover {
  background-color: rgb(9, 196, 75);
}

.masthead {
  display: none;
  top: 0;
}

/* Handle the widths */
.masthead,
.mastfoot,
.cover-container {
  width: 100%; /* Must be percentage or pixels for horizontal alignment */
}
