/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fffffc;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #0b0c13;
}
body {
  color: #fffffc;
  text-align: left;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  /*height: 100vh;
  width: 100vw;*/
  overflow: auto;
  /*background-image: url(../assets/trump.jpg);
  background-position: 50% 50%;
  background-size: cover;*/
  box-sizing: border-box;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

/*.image-container {
	width: 100vmin;
	height: 100vmin;
	background: url(../assets/trump.jpg);
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
	-webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}*/

.image-container-mirror {
	width: 50vw;
	height: 100vh;
	background: url(../assets/trump.jpg);
  background-position: 50% 50%;
  background-size: cover;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 1;
  border-right: solid 10px #fffffc;
}

.cover-container {
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  box-sizing: border-box;
  width: 50vw;
  margin-left: 50vw;
  padding: 4vmax;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  font-size: 16px;
  flex: 1 1 100%;
  text-align: left;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}

@media screen and (min-width: 640px) {
  .masthead-brand {
    font-size: 20px;
  }
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 2.75vw;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}


/*
 * Cover
 */

 .lead {
   font-family: 'Work Sans', sans-serif;
   font-weight: 400;
 }

 /*.text-box-wrapper {
   display: flex;
   flex-direction: row;
   align-content: flex-start;
 }*/

 /*@media screen and (max-width: 640px) {
   .text-box-wrapper {
     flex-direction: column;
     margin-bottom: 44px;
   }
 }*/

.cover.inner {
  padding: 4vmax 0 0;
  box-sizing: border-box;
}

.cover-heading {
  font-size: 6vmax;
  font-family: 'Work Sans', serif;
  padding: 0;
  text-align: left;
  margin: 0;
  font-weight: 900;
  flex-grow: 1;
  padding: 0;
}

.share-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.share-btn {
  flex: 0 0 auto;
  margin: 0 20px 0 0;
  font-size: 0;
}



.mastfoot {
  box-sizing: border-box;
  padding: 4vmax 0 0;
}

@media screen and (max-width: 768px) {
  .image-container-mirror {
    position: relative;
    width: 100vw;
    height: 40vh;
    border-right: none;
    border-bottom: solid 5px #fffffc;
  }

  .cover-container {
    width: 100vw;
    margin-left: 0;
  }
}

.mastfoot .btn-primary {
  background-color: rgb(0, 169, 59);
  border-color: rgb(1, 136, 47);
  transition: background-color 200ms 0ms ease;
  font-family: 'Hebo', sans-serif;
  font-weight: 400;
  letter-spacing: .05em;
}

.mastfoot .btn-primary:hover {
  background-color: rgb(9, 196, 75);
}

.masthead {
  display: none;
  top: 0;
}

/* Handle the widths */
.masthead,
.mastfoot {
  width: 100%; /* Must be percentage or pixels for horizontal alignment */
}
